---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: miniflux
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/miniflux/miniflux
              tag: 2.2.17@sha256:802ab7d045826d047883476e2310bf59f5d9b3875f7a8106fa0c43638d01fd64
            env:
              BASE_URL: "https://miniflux.${SECRET_DOMAIN}"
              CREATE_ADMIN: "1"
              METRICS_ALLOWED_NETWORKS: 10.0.0.0/8
              METRICS_COLLECTOR: 1
              PORT: &port 8080
              RUN_MIGRATIONS: "1"
            envFrom:
              - secret: miniflux-credentials

    service:
      app:
        controller: app
        ports:
          http:
            port: *port

    serviceMonitor:
      app:
        serviceName: miniflux
        endpoints:
          - port: http

    route:
      app:
        hostnames: ["miniflux.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
        rules:
          - backendRefs:
              - identifier: app
                port: *port
